<h1>Admin Panel</h1>
{{!-- <li><a href="/post/adminGetAllPost">Get All Posts</a></li> --}}
{{#each adminGetsPosts}}
<div class="card" style="width: 70rem">

    <div class=" card text-white bg-dark" style="width: 70rem">
        <div class="card-body">
            <h3 class="card-title">{{this.postTitle}}</h3>
            <p class="card-text">{{this.writepost}}</p>
            <p class="post-meta">Posted by
                <b>{{Username}}</b>
                on July 8, 2018
            </p>
            <p class="post-meta">Post ID :
                {{this._id}}

            </p>
            <p class="post-meta">User Register ID:
                {{Userid}}

            </p>
            <form action="/post/postcreated/{{this._id}}" method="get">
                <button class="btn btn-primary" type="submit">Edit</button>
            </form>
            <form action="/post/deletePost/{{this._id}}" method="post">
                <button class="btn btn-danger btn-sm" id="this._id" type=" submit">Delete</button>
            </form>
        </div>
    </div>
</div>
<br>
{{/each}}