<section class="get">
    <h3>{{user.username}}</h3>
    <a href="/post/getoneUserPost"><b>{{user.username}}</b> Get your POST</a>
    <div>
        <div class="input">
            <label for="id">Delete</label>
            <input type="text" id="id" name="id">
        </div>
        {{!-- <button class="btn btn-success btn-sm" type="submit">Find Post</button> --}}
        <br>
        {{# each items }}
        <article class="item">
            <div>Post Title: {{ this.postTitle }}</div>
            <div> <b>Post Id: {{ this._id }}</b></div>
            <div>Post Content: {{ this.writepost }}</div>
            <div>Register User ID: {{Userid}}</div>
            <div><b>Posted By: {{Username}}</b></div>
            {{!-- <div class="input">
                <label for="id">ID</label>
                <input type="text" id="id" name="id">
            </div> --}}deletePost

            <form action="/post/deletePost" method="post">
                <button class="btn btn-danger btn-sm" type="submit">Delete Post</button>
            </form>
            {{!-- <form action="/post/updatePost" method="post">
                <button class="btn btn-success btn-sm" type="submit">Update</button>
            </form> --}}
            <br>
        </article>
        <br>
        {{/each}}
    </div>
    {{!-- <button type="submit">Find</button> --}}
</section>
{{!-- <section class="delete">
    <h3>Delete Data</h3>
    <form action="post/deletePost" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section> --}}
<section class="update">
    <h3>Update Data</h3>
    <form action="/post/updatepost" method="post">
        {{!-- <div class="form-group">
            <label for="id22">ID</label>
            <input type="text" class="form-control" id="id22" name="id22">
        </div> --}}
        <input type="text" id="id" name="id">

        <div class="form-group">
            <label for="title">Post Title </label>
            <input type="text" class="form-control" id="postTitle" name="postTitle">
        </div>
        <br>
        <div class="form-group">
            <textarea class="form-control" id="writepost" name="writepost" rows="10"></textarea>
        </div>
        <br>
        <div>
        </div>
        <button class="btn btn-success btn-sm" type="submit">Update</button>
    </form>
</section>